@inject IAdminService AdminService
@if (alert!=string.Empty)
{
    <div class="d-flex">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>@alert</strong>
            <button type="button" @onclick="CloseAlert" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
}

@if (Navigation == PageType.Create)
{
    <ChangeGenre Page="@Navigation" OnChange="OnChange"></ChangeGenre>
}

@if (Navigation == PageType.Delete || Navigation == PageType.Edit)
{
    <ChangeGenre Page="@Navigation" OnChange="OnChange" Model="Genre"></ChangeGenre>
}

<div class="d-flex me-1">
    <a href="/" class="btn btn-outline-secondary rounded-0 me-1">Home</a>
    <button type="button" class="btn btn-outline-primary rounded-0 me-1" @onclick="()=>ChangePageType(PageType.Index)">Index</button>
    <button type="button" class="btn btn-outline-success rounded-0" @onclick="()=>ChangePageType(PageType.Create)">Create</button>
</div>

<GenreIndex OnClick="OnClick" Model="Model"></GenreIndex>

@code {
    List<GenreDTO> Model { get; set; } = new();
    string alert = "";
    string Navigation = PageType.Index;
    void ChangePageType(string pageType) => Navigation = pageType;
    void CloseAlert() => alert = "";
    public GenreDTO Genre { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        alert = "";
        Model = await AdminService.GetAsync<GenreDTO>("genres");
    }

    async Task OnClick(ClickModel model)
    {
        if (model.PageType.Equals(PageType.Edit) || model.PageType.Equals(PageType.Delete))
            Genre = await AdminService.SingleAsync<GenreDTO>($"genres/{model.Id}")?? new();
        ChangePageType(model.PageType);

    }

    async Task OnChange(string message)
    {
        try
        {
            alert = message;
            Model = await AdminService.GetAsync<GenreDTO>("genres");
            ChangePageType(PageType.Index);
        }
        catch
        {
            alert = "Couldn't create/edit/delete the course.";
        }
    }
}
