@page "/"
@inject IMembershipService MembershipService

<PageTitle>Dashboard</PageTitle>

<h1>Dashboard</h1>
<div class="d-flex flex-wrap justify-content-center">
    @foreach (var film in Films)
    {
        <FilmCard Film="@film" />
    }
</div>

@code{
    public List<FilmDTO> Films { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Films = await MembershipService.GetFilmsAsync(false);
    }
}

