@inject IMembershipService MembershipService
@*<div class="d-flex flex-wrap justify-content-center" @bind-Value="SimilarFilms.">
    @foreach (var film in SimilarFilms)
        {
        <option value="@film.Id">@film.Title</option>
        }
    </div>*@

@code {
    public List<FilmInfoDTO> SimilarFilms { get; set; } = new();

    //protected override async Task OnInitializedAsync()
    //{
    //    SimilarFilms = await MembershipService.GetFilmsAsync List<FilmDTO>>($"films?freeOnly={freeOnly}");
    //}
}
