@page "/video/{Id:int}"
@inject IMembershipService MembershipService


<a class="btn btn-primary rounded-0 mb-1" href="/">
    <i class="oi oi-arrow-left"></i><span class="vertical-align">Back to @Model.Id</span>
</a>

<div class="d-flex flex-column">

    <div class="card flex-fill rounded-0">
        @if (Model.FilmUrl != null)
        {
            <div class="video-player">
                <iframe src="@Model.FilmUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        }
        <div class="card-body">
            <h2>@Model.Title</h2>
            <hr class="m-0">
            @Model.Description
        </div>
    </div>
</div>

@code {
    [Parameter] public FilmDTO Model { get; set; } = new();
}
